# All latest libraries work very well
einops
ipykernel
ipywidgets
notebook
pandas
python-dotenv
scipy
statsforecast
statsmodels
torchvision
wandb
huggingface-hub
numpy
torch
transformers
matplotlib
datasets
pydantic
native-sparse-attention-pytorch
titans-pytorch
scikit-learn